<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
{%for x in img %}
<div class="container">
  <h2>Stretched Link in Card</h2>
  <p>Add the .stretched-link class to a link inside the card, and it will make the whole card clickable (the card will act as a link):</p>
  <div class="card" style="width:200px">
    <img class="card-img-top" src="{{x.image.url}}" alt="Card image" style="width:100%">
    <div class="card-body">

      <a href="https://www.google.com/search?q=ab+de+villiers+vk18+maxwell&sca_esv=594370659&rlz=1C1FKPE_enIN1005IN1005&tbm=isch&source=lnms&sa=X&ved=2ahUKEwju3rWF-rODAxUX8TgGHUZGA-8Q_AUoAXoECAQQAw&biw=1440&bih=739&dpr=1#imgrc=RjDeXYEJlxGPdM" class="btn btn-primary stretched-link">{{x.name}}</a>
    </div>
  </div>
</div>
{% endfor %}
</body>
</html>
