<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>  
</head>
<body ng-app="">

<form name="form">
<input name="input" ng-model="input" required>
</form>
    <h1>{{form.input.$valid}}</h1><br><br>

    <form name="myForm">
        <input type="email" name="myInput" ng-model="myInput">
    </form>
        
        <p>The input's valid state is:</p>
        <h1>{{myForm.myInput.$valid}}</h1>
</body>
</html>

<!--

    
Form State and Input State
AngularJS is constantly updating the state of both the form and the input fields.

Input fields have the following states:

$untouched The field has not been touched yet
$touched The field has been touched
$pristine The field has not been modified yet
$dirty The field has been modified
$invalid The field content is not valid
$valid The field content is valid
They are all properties of the input field, and are either true or false.

Forms have the following states:

$pristine No fields have been modified yet
$dirty One or more have been modified
$invalid The form content is not valid
$valid The form content is valid
$submitted The form is submitted


-->