<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Welcome to GeaksforGeeks</h1>
<h3>Personal Details</h3>
<form>
    <label for="salutation">Salutation</label><br>
    <select id="salutation">
        <option value="none">--None--</option>
    </select><br><br>
    <label for="fname">First name:</label>
    <input type="text" id="fname" name="fname"><br><br>
    <label for="lname">Last name:</label>
    <input type="text" id="lname" name="lname"><br>
    <p>Gender:</p>
    <input type="radio" id="male" name="gender">Male
    <input type="radio" id="female" name="gender">Female
    <br><br>
    <label for="email">Email:</label>
    <input type="email" id="email"><br><br>
    <label for="dob">Date of Birth:</label>
    <input type="date" id="dob">
    <p>Address</p>
    <textarea rows="10" cols="30"></textarea><br><br>
    <button type="submit">Submit</button>



</form>
</body>
</html>
