<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forms</title>
</head>
<style>
    body{
    background-color: orange;
    }
</style>
<body>
<h1>Student Registeration Form</h1>
<p>Fill in this form to register</p>
<form>

<label for = "fname">First Name :</label>
<input type="text" id="fname"  name="fname" placeholder="Enter your first name"> <br><br>
<label for="lname">Last Name :</label>
<input type="text" id="lname" name="lname" placeholder="Enter your last name"> <br><br>
<label for="email">Email: </label>
<input type="email" id="email" name="email" placeholder="Enter your email" >
<label for="date">Date of Birth :</label>
    <input type="date" id="date" name="date"> <br><br>
    <label for="username">Set Username :</label>
    <input type="text" id="username" name="username" placeholder="Set Username"> <br><br>
        <label for="password">Set Password :</label>
    <input type="password" id="password" name="password" placeholder="Set Password"> <br><br>

    <label for="Gender">Gender</label>
    <select id="gender" name="Gender">
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      <option value="Others">Others</option>
    </select>

</form>
</body>
</html>
