<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table</title>
</head>
<style>
    table {
    border-collapse:collapse;
    width: 100%;
    }
    th, td {
    padding : 8px;
    text-align : center;
    border-bottom: 1px solid #ddd;
    }
    tr:nth-child(even){background-color: #f2f2f2}

    tr:hover{
    background-color: coral;
    }
</style>
<body>

<h2>Table</h2>

<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
    </tr>
    <tr>
        <td>Dhanush</td>
        <td>CH</td>
        <td>22</td>
    </tr>
    <tr>
        <td>Malavika</td>
        <td>Ajith</td>
        <td>22</td>
    </tr>
    <tr>
        <td>Virat</td>
        <td>Kohli</td>
        <td>35</td>
    </tr>
    <tr>
        <td>CR</td>
        <td>7</td>
        <td>37</td>
    </tr>
</table>
</body>
</html>
